<div class="pricing">
                   
    <p class="pricePerUnit">
    £1.50<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
</p>
 
    <p class="pricePerMeasure">£0.68<abbr title="per">/</abbr>100<abbr title="gram"><span class="pricePerMeasureMeasure">g</span></abbr>
    </p>

                </div>
